
body {
	font-family: Georgia;
	font-size: 22px;
	color: seashell;
	background-color: #000;
	opacity: 0.9;
}
h2, h3, h4, h5, p {
	text-align: center;
}
a {
	color: seashell;
}
/* Navigation */
header {
	display: flex;
	border-bottom: 1px solid seashell;
	height: 69px;
	width: 100%;
	background-color: #000;
	position: fixed;
	top: 0px;
	z-index: 1;
}
.logo-sect {
	display: inline-flex;
	align-items: center;
	width: 50%;
	padding-left: 10px;
}
.nav-menu-sect {
	display: inline-flex;
	justify-content: flex-end;
    align-items: center;
    width: 50%;
}
.nav-items {
	padding-right: 20px; 
}

/* Mission */
#mission {
	position: relative;
}
#upper-bground-img {
	background-image: url("images/mission-background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	height: 700px;
}
#mission-content-row {
	background-color: #000;
	position: relative;
	top: 300px;
	padding-top: 1px;
	padding-bottom: 1px;
}

/* Featured Tea */
#featured-tea {
	width: 1000px;
	margin: 0 auto;
	padding-top: 50px;
}
#tea-row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.tea-img-block {
	margin: 10px;
}

/* Location */
#locations {
	padding-top: 42px;
}
.lower-bground-img {
	background-image: url("images/locations-background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	height: 500px;
	padding-top: 50px;
}
#location-row {
	display: flex;
	justify-content: center;
}
.location-block {
	width: 300px;
	height: 250px;
	margin: 20px;
	opacity: 1;
	background-color: #000;
}
/* Footer */
#footer-content-row {
	height: 200px;
}
#copyright-row {
	margin-left: 20px;
	margin-top: 50px; 
}
#copyright {
	text-align: left;
}